<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6b95a7ba-10e4-435c-a5e9-4d7ddf4f6696/resourceGroups/PrestamosApp/providers/Microsoft.Web/sites/prestamoscorrral</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://prestamoscorrral-gzbbh8fpcpdgesdw.mexicocentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>34231b77-f533-487c-aa07-cfe7b3c04cb3</ProjectGuid>
    <PublishUrl>https://prestamoscorrral-gzbbh8fpcpdgesdw.scm.mexicocentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$prestamoscorrral</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>